*.m~
*.asv
TMs/MITgcm
TMs/MITgcm_ECCO
matlab/baserunGlobalTEST.m
matlab/parametersGlobalTEST.m
matlab/simulateGlobalTEST.m
Cpp/model.so
Data/global_results
*.gif
matlab/code_interp_N.m
matlab/woa18_all_n00an01.csv
.Rproj.user
